// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  background-color: #ddf0ef;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Poppins';
}

ion-app.ios, ion-app.md {
	font-size: 9px;
  line-height: 1.5;
  @media(min-width: 576px) {
		font-size: 12px
  }
  @media(min-width: 992px) {
		font-size: 12px
  }
}

ion-content {
  background-image: url('../assets/imgs/app_bg.png');
  background-size: cover;
  height: 100%;
  background-position: bottom;
  margin: 0 auto;
}

.footer-md:before {
	background-image: none;
}

.notification {
	background-image: url('../assets/imgs/sign.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 15px 30px 15px 35px;
  font-size: 1.3em;
  @media(min-width: 576px) {
  	padding: 20px 35px;
	}
  @media(min-width: 992px) {
  	padding: 20px 35px;
	}
}

ion-col.text-right {
  padding-right: 20px;
}

.img-button {
	background-size: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 120px;
  height: 120/253*93px;

  @media(min-width: 576px) {
	  width: 200px;
	  height: 200/253*93px;
  }

  &.btn-play {
		background-image: url('../assets/game/img/shared/es/btn-play.png');
  }

  &.btn-play-st {
    background-image: url('../assets/game/img/shared/es/btn_trust_sea.png');
  }

  &.btn-play-sc {
    background-image: url('../assets/game/img/shared/es/btn_compe_sea.png');
  }

  &.btn-restart {
		background-image: url('../assets/game/img/shared/es/btn-restart.png');
  }
}

